.matrix {
    position: relative;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0px;
}
.matrix:after {
    right: -6px;
    border-left: 0px;
}
.matrix td {
    padding: 5px;
    text-align: center;
}

.card-size {
  margin: auto;
  padding-left: 35%;
  padding-right: 35%;
}

.content {
	overflow: hidden;
	width: 100%;
}

.left {
	width: 45%;
	float: left;
}

.right {
	width: 45%;
	float: right;
}

.to-string {

}

#small-string {
  font-size: 0pt;
}
